*{
    padding: 0;
    margin: 0;
}
body{
    background: wheat;
}
.left{
    float: left;
    width: 40%;
    height: 400px;
    background:white;
    border-radius: 10px;
    margin: 20px;
    box-shadow:10px ;

}
.right{
    float: right;
    width: 40%;
    height: 400px;
    background:white;
    border-radius: 10px;
    margin: 20px;
    box-shadow:10px ;

}